.fixed-top {
  top: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 1030; 
  height: 100px;
}
.navbar,.dropdown-menu {
  z-index: 1050 !important;
}
.navBar{
  position: relative;
  bottom: 30px;
}
.page{
  margin-left: 20px;
  text-decoration: none;
  color: #777;
}
.navbar-btn{
  background: #8b62ff;
  color: white;
  border: #8b62ff solid 2px;
  position: relative;
  bottom: 5px;
}
.navbar-btn:hover{
  background: linear-gradient(90deg,#8b62ff 0,#3b1bff);
  color: white;
  border: linear-gradient(90deg,#8b62ff 0,#3b1bff) solid 2px;
}
.dropdown{
  position: relative;
  bottom: 30px;
}
.homebg{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(./img-home.jpeg) center/cover;
  height: 600px;
}
.title{
  font-size: 45px;
  font-family: inherit;
}
.vivamus{
  color: #0c0633;
  font-size: 35px;
  font-family: inherit;
}
.auctor{
  color: #555;
  font-family: Fira Sans,Helvetica,Arial,sans-serif;
}
.consec{
  color: #0c0633;
  font-family: inherit;
  font-size: 25px;
}
.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ddd;
  margin: 0 5px;
  opacity: 0.5;
  transition: opacity 0.3s;
  border: none;
}
.carousel-indicators {
  justify-content: center;
  margin-top: 1rem;
  position: static; 
}
.carousel-indicators .active {
  opacity: 1;
  background-color: #555; 
}
